<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Austraxpc59/IdeaProjects/EasyServDemo/src/test/java/com/easyserv/testcases/TC_LoginTest_001.java">
        <classes>
            <class name="com.easyserv.testcases.TC_LoginTest_001">
                <methods>

                </methods>
            </class>
            <class name="com.easyserv.testcases.TC_CustomerSearch_Test_002">
                <methods>

                </methods>
            </class>
            <class name="com.easyserv.testcases.TC_SortCustomer_003">
                <methods>

                </methods>
            </class>
            <class name="com.easyserv.testcases.TC_FilterCustomer_Test_004">
                <methods>

                </methods>
            </class>
            <class name="com.easyserv.testcases.TC_BookingManagement_ListView_Test_005">
                <methods>

                </methods>
            </class>
            <class name="com.easyserv.testcases.TC_BookingManagement_ListView_Test_006">
                <methods>

                </methods>
            </class>
            <class name="com.easyserv.testcases.TC_BookingManagement_Filter_Test_007">
                <methods>

                </methods>
            </class>

            </classes>
    </test>
</suite>