<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Austraxpc59/IdeaProjects/EasyServDemo/src/test/java/com/easyserv/testcases/TC_LoginTest_001.java">
        <classes>
            <class name="com.easyserv.testcases.TC_LoginTest_001">
                <methods>
                    <include name="loginTest"/>
                </methods>
            </class>
            <class name="com.easyserv.testcases.TC_Customersearch_Test_002">
                <methods>
                 <include name="customersearch"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>